@inject IHttpContextAccessor HttpContextAccessor

@{
    var sesion = GestionSesion.ObtenerSesion(HttpContextAccessor.HttpContext);
    var estaLogueado = sesion != null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | MetaGym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/MediaWeb/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="bg-black border-bottom border-dark">
        <nav class="navbar navbar-expand-lg navbar-dark container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/MediaWeb/Imagenes/logo.png")" alt="Logo" style="height: 50px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Novedades", "Publicacion")">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/metagym.uy/">Instagram</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (!estaLogueado)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger text-white ms-2" href="@Url.Action("RegistrarUsuario", "Home")">Registrarse</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <span class="nav-link">Hola, @sesion.Nombre</span>
                        </li>
                        <li class="nav-item">
                            <a id="btnNotificaciones" href="#" onclick="toggleNotificaciones()" class="nav-link">
                                🔔 <span id="contadorNoti" class="badge">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Home")">Cerrar sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid mt-4">
            <div class="row">
                @if (estaLogueado)
                {
                    <aside class="col-12 col-md-3 mb-4 mb-md-0">
                        @Html.Partial("_MenuLateral", sesion)
                    </aside>
                    <section class="col-12 col-md-7">
                        @Html.Partial("_MensajeTemporal")
                        @RenderBody()
                    </section>
                    <div id="zonaNotificaciones" class="position-fixed end-0 top-25 me-4 mt-4" style="z-index: 1050;"></div>
                }
                else
                {
                    <section class="col-12">
                        @RenderBody()
                    </section>
                }
            </div>
        </div>
    </main>

    <footer>
        @await Html.PartialAsync("_Footer")
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/manejoTablas.js"></script>
    <script src="~/js/manejoNotificaciones.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
